services:
  grafana:
    image: grafana/grafana-enterprise
    container_name: grafana
    restart: unless-stopped
    ports:
      - 3000:3000
    environment:
      - TZ=America/New_York
    volumes:
      - ./monitor/grafana/data:/var/lib/grafana
      - ./monitor/grafana/config/grafana.ini:/etc/grafana/grafana.ini
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    ports:
      - 9090:9090
    user: 1000:994
    environment:
      - PUID=1000
      - PGID=994
      - TZ=America/New_York
    command:
      - "--web.enable-lifecycle"
      - "--enable-feature=exemplar-storage"
      - "--storage.tsdb.retention.time=30d"
      - "--storage.tsdb.retention.size=10GB"
      - "--web.max-connections=512"
    volumes:
      - ./monitor/prometheus/data:/prometheus
      - ./monitor/prometheus/config:/prometheus
  loki:
    image: grafana/loki
    container_name: loki
    restart: unless-stopped
    ports:
      - 3100:3100
    environment:
      - PUID=1000
      - PGID=994
      - TZ=America/New_York
    volumes:
      - ./monitor/loki/data:/loki
      - ./monitor/loki/config:/etc/loki
  alloy:
    image: grafana/alloy
    container_name: alloy
    restart: unless-stopped
    volumes:
      - ./monitor/alloy/config.alloy:/etc/alloy/config.alloy
      - /var/log:/var/log
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /etc/machine-id:/etc/machine-id:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - 1514:1514
  pve_exporter:
    image: prompve/prometheus-pve-exporter:latest
    container_name: pve_exporter
    restart: unless-stopped
    ports:
      - "9221:9221"
    environment:
      PVE_USER: root@pam
      PVE_PASSWORD: {{ proxmox_servers.proxmox_password }}
      PVE_VERIFY_SSL: 'false'
  redis:
    image: redis:alpine
    container_name: redis
    volumes:
      - ./monitor/redis:/data
    restart: unless-stopped
    environment:
      - TZ=America/New_York
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - PUID=1000
      - PGID=994
      - TZ=America/New_York
      - WATCHTOWER_POLL_INTERVAL=86400
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_INCLUDE_STOPPED=true
    restart: unless-stopped
