services:
  authelia:
    image: authelia/authelia:latest
    container_name: authelia
    ports:
      - 9959:9959
    volumes:
      - ./authelia/config:/config
      - ./authelia/secrets:/secrets
      - /var/log/authelia:/var/log/authelia
    depends_on:
      - "redis"
      - "postfix"
    restart: unless-stopped
    environment:
      - TZ=America/New_York
      - AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET_FILE=/secrets/JWT_SECRET
      - AUTHELIA_SESSION_SECRET_FILE=/secrets/SESSION_SECRET
      - AUTHELIA_STORAGE_ENCRYPTION_KEY_FILE=/secrets/STORAGE_ENCRYPTION_KEY
      - AUTHELIA_STORAGE_POSTGRES_PASSWORD_FILE=/secrets/POSTGRES_PASSWORD
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.authelia.rule=Host(`auth.hopk.net`)"
      - "traefik.http.routers.authelia.entrypoints=https"
      - "traefik.http.routers.authelia.tls=true"
      - "traefik.http.routers.authelia.tls.certresolver=le"
      - "traefik.http.middlewares.cors.headers.customResponseHeaders.Access-Control-Allow-Origin=https://hopk.net/"
      - "traefik.http.middlewares.cors.headers.customResponseHeaders.Access-Control-Allow-Credentials=true"
      - "traefik.http.routers.authelia.middlewares=crowdsec@file, cors"
  traefik:
    image: traefik:latest
    container_name: traefik
    ports:
      - 80:80
      - 443:443
      - 8082:8082
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=994
      - TZ=America/New_York
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./traefik/certs:/certs
      - ./traefik/traefik.toml:/etc/traefik/traefik.toml
      - ./traefik/dyn.toml:/etc/traefik/dyn.toml
      - /var/log/traefik:/var/log/traefik
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.rule=Host(`traefik.hopk.net`)"
      - "traefik.http.routers.traefik.entrypoints=https"
      - "traefik.http.routers.traefik.tls=true"
      - "traefik.http.routers.traefik.tls.certresolver=le"
      - "traefik.http.routers.traefik.service=api@internal"
      - "traefik.http.routers.traefik.middlewares=chain-authelia@file"
  redis:
    image: redis:alpine
    container_name: redis
    volumes:
      - ./redis:/data
    restart: unless-stopped
    environment:
      - TZ=America/New_York
  crowdsec:
    image: crowdsecurity/crowdsec:latest
    container_name: crowdsec
    restart: unless-stopped
    ports:
      - 6060:6060
    volumes:
      - ./crowdsec/config:/etc/crowdsec
      - ./crowdsec/data:/var/lib/crowdsec/data
      - /var/log/auth.log:/logs/auth.log:ro
      - /var/log/syslog:/logs/syslog:ro
      - /var/log/traefik:/logs/traefik
      - /var/log/authelia:/logs/authelia
    environment:
      - PUID=1000
      - PGID=994
      - TZ=America/New_York
      - COLLECTIONS=LePresidente/authelia crowdsecurity/traefik crowdsecurity/linux
      - BOUNCER_KEY_TRAEFIK=ph
  postfix:
    image: boky/postfix:edge-debian
    container_name: postfix
    restart: unless-stopped
    ports:
      - 587:587
    environment:
      - TZ=America/New_York
      - HOSTNAME=postfix-docker
      - ALLOWED_SENDER_DOMAINS=hopk.net
      - MYNETWORKS=10.0.1.0/24 172.16.0.0/12
      - RELAYHOST=smtp.gmail.com:587
      - RELAYHOST_USERNAME=hopknetrelay@gmail.com
      - RELAYHOST_PASSWORD={{ relayhost_password }}

  logrotate:
    image: blacklabelops/logrotate
    container_name: logrotate
    restart: unless-stopped
    volumes:
      - /var/log/authelia:/var/log/authelia
      - /var/log/traefik:/var/log/traefik
    environment:
      - TZ=America/New_York
      - LOGS_DIRECTORIES=/var/log/authelia /var/log/traefik
      - LOGROTATE_COMPRESSION=compress
