services:
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    restart: unless-stopped
    environment:
      TZ: "America/New_York"
      DOMAIN: "https://vw.hopk.net"
      DATABASE_URL: "postgresql://vaultwarden:{{ postgres_dbs.vaultwarden.password }}@{{ hostvars['db1'].ansible_host }}:5432/vaultwarden"
    volumes:
      - ./data/:/data/
    ports:
      - 8000:80
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
