services:
  samba:
    image: dockurr/samba
    container_name: samba
    environment:
      NAME: "HopkNAS"
      USER: "ehopkins"
      PASS: "{{ smb_password }}"
    ports:
      - 445:445
    volumes:
      - ./samba:/storage
    restart: always
  watchtower:
      image: containrrr/watchtower
      container_name: watchtower
      volumes:
        - /var/run/docker.sock:/var/run/docker.sock
      environment:
        - PUID=1000
        - PGID=994
        - TZ=America/New_York
        - WATCHTOWER_POLL_INTERVAL=86400
        - WATCHTOWER_CLEANUP=true
        - WATCHTOWER_INCLUDE_STOPPED=true
      restart: unless-stopped