services:
  nextcloud:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nextcloud
    restart: unless-stopped
    depends_on:
      - redis
    ports:
      - 8081:80
    volumes:
      - ./nextcloud/html:/var/www/html
    environment:
      - PUID=1000
      - PGID=994
      - TZ=America/New_York
      - POSTGRES_DB=nextcloud
      - POSTGRES_USER=nextcloud
      - POSTGRES_PASSWORD={{ postgres_dbs.nextcloud.password }}
      - POSTGRES_HOST={{ hostvars['db1'].ansible_host }}
      - REDIS_HOST=redis
  collabora:
    image: collabora/code:latest
    container_name: collabora
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=994
      - TZ=America/New_York
      - password={{ collabora_password }}
      - username=nextcloud
      - aliasgroup1=https://nc\.hopk\.net:443
      - extra_params=--o:ssl.enable=true --o:ssl.termination=true
    cap_add:
      - MKNOD
      - SYS_ADMIN
    security_opt:
      - seccomp:unconfined
    ports:
      - 9980:9980
  nextcloud-whiteboard:
    image: ghcr.io/nextcloud-releases/whiteboard:stable
    container_name: ncwb
    ports:
      - "3002:3002"
    environment:
      NEXTCLOUD_URL: https://nc.hopk.net
      JWT_SECRET_KEY: {{ nextcloud_jwt_secret }}
  redis:
    image: redis:alpine
    container_name: redis
    volumes:
      - ./nextcloud/cache:/data
